body {
    font-family: OpenSans-Regular;
    font-size: 14px;
  
}
body {
    
    background:#f2f2f2 ;
}

footer {
        width: 810px;
        text-align: center;
        
        font-size: 11px;
        
        }

        header { background-image: url(thumbnail.jpg)
            
        }
        header img {height: 150px}

      h1 {font-family: nasalization;
          font-size: 40px;
          color: #27d1ff ;
          text-align: top;
          text-align: center;
    }
p1 p2 p3 {display: inline-block;
          background-color:#2e2f30 ;
        font-size: 50px;
        margin: 50px;
        color: white;
        text-align: right;
        text-align: top ;
        }
 body {color: #17c1ff;}
 a {color: #17c1ff;
    font-weight: bold;
}

.center {display: block;
    margin-left: auto;
    margin-right: auto;
}